* {
    margin: 0;
}

body {
    /* background: 
        linear-gradient(348deg, rgb(71, 15, 96), rgb(114, 102, 230)); */
    background: linear-gradient(348deg, rgba(70, 15, 96, 0.501), rgba(115, 102, 230, 0.737)), url(./img/stars.png) no-repeat center;
    background-size: 100% auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main {
    
}

.grid {
    background: rgb(26, 2, 42);
    padding: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 0.5vh;
}

.grid > div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(188, 200, 223, 0.2);
    border-radius: 0.3vh;
}

.grid .O {
    background-color: rgb(160, 73, 241);
}

.grid .J {
    background-color: rgb(148, 146, 156);
}

.grid .I {
    background-color: rgb(6, 126, 80);
}

.grid .L {
    background-color: rgb(199, 30, 47);
}

.grid .S {
    background-color: rgb(123, 250, 5);
}

.grid .T {
    background-color: rgb(253, 166, 5);
}

.grid .Z {
    background-color: rgb(61, 179, 238);
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 150px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-style: oblique;
    color: rgb(46, 2, 44);
    text-shadow: 1px 6px rgb(121, 86, 155);
    text-decoration: underline;

}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around;
    align-content: center;
    flex-wrap: wrap; */
    border: 1px dotted black;
    border-radius: 20px;
    background-color: rgba(62, 9, 62, 0.118);
    width: 35vh;
    height: 30vh;
    margin-left: 50px;
    

}

.top-row, .bottom-row {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
} 

.bottom-row {
    justify-content: center;
}

.left, .right, .down, .rotate {
    margin: 5px;
    border: 1px solid rgb(40, 1, 46);
    border-radius: 40%;
    background-color: blueviolet;
    box-shadow: 0 4px 8px rgba(15, 1, 12, 0.2);
    height: 50%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
   

}

.down {
    width: 30%;
}

.rotate {
    background-color: rgba(140, 41, 233, 0.56);
}

img {
    position: absolute;
    width: 70%;
    height: 70%;
}

.left img {
    transform: rotate(180deg);
}

.down img {
    transform: rotate(90deg);
}

.rotate {
    align-self: flex-end;
} 

.footer {
    margin-left: 50px;
    margin-top: 100px;
    text-align: justify;
   
}